body {
  margin: 0;
  padding: 0;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ol {
  list-style: none;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 50px 0;
}

.form {
  display: flex;
  align-items: center;
}

.input {
  width: 450px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
  border: none;
  padding-left: 40px;
}

.button {
  display: block;
  background-color: rgb(0, 119, 255);
  border: 1px solid rgb(0, 19, 36);
  border-radius: 20px;
  color: #fff;

  min-width: 150px;
  height: 40px;
}

.item {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin-bottom: 30px;
}

.text {
  color: white;

  flex-grow: 2;

  line-height: 2;
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0 15px;
  font-size: 20px;
  border-bottom: #fff 1px solid;
  overflow-wrap: anywhere;
}

.checked {
  opacity: 0.5;
}

.checked .text {
  text-decoration: line-through;
}

.list {
  padding: 20px;
}

.header__title {
  color: aliceblue;
  margin-bottom: 20px;
}

.btndelete {
  width: 43px;
  height: 43px;
  min-width: 43px;
  border-radius: 0px;
  padding: 0;

  background: #eb0e55;
}

.checkbox {
  margin: 0;
}

.done {
  opacity: 0.4;
  text-decoration: line-through;
}

@media screen and (max-width: 767px) {
  .input {
    width: 100%;
    margin-bottom: 10px;
  }

  .form {
    flex-direction: column;
  }

  .item {
    width: auto;
  }
}
